<form method="post" action="/auth/signin" class="form">
    <h2 class="title">Signin</h2>

    <label for="email">Email</label>
    <input class="input" name="email" type="text" value="foo@bar.com">
    <label for="password">Password</label>
    <input class="input" name="password" type="password" value="foo">

    <button class="btn">Connect !</button>
    <hr>
    
    <p>
        No account yet? 
        <a href="/auth/signup">Please signup!</a>
    </p>
</form>