

<div class="backgroundSign">
        <form method="post" action="/auth/signin" class="form signin">
        
            <h2 class="title">Log In</h2>

            <label for="mail">Email</label>
            <input class="input" name="mail" type="text" value="foo@bar.com">
            <label for="password">Password</label>
            <input class="input" name="password" type="password" value="foo">

            <button class="btn">Log In !</button>
            
            <p>
                No account yet? 
                <a href="/auth/signup">Please sign up!</a>
            </p>
        </form>
</div>
    <div class="borderDecalee"></div>