<nav>
    <div id="nav-left">
        <a href="/index">HOME</a>
        <a href="/collection">2020 COLLECTIONS</a>
    </div>

    <div id="nav-middleNoAdmin">
        {{#unless isAdmin}}
        <a href="/my-collection">MY BIKES</a>
        {{/unless}}
    </div>

    <div id="nav-middleAdmin">
        {{#if isAdmin}}
        <a href="/my-collection">MY BIKES</a>
        <a href="/admin/dashboard">DASHBOARD</a>
        {{/if}}
    </div>

    <div id="nav-rightNotLoggedIn">
        {{#unless isLoggedIn}}
        <a href="/auth/signin">LOG IN</a>
        <a href="/auth/signup">SIGN UP</a>
        {{/unless}}
    </div>

    <div id="nav-rightLoggedIn">
        {{#if isLoggedIn}}
        <a href="/auth/signout">LOG OUT</a>
        {{/if}}
    </div>
</nav>