<nav>

    <div>
        <a href="">HOME</a> 
    </div>

    <div>
        <a href="">2020 COLLECTIONS</a> 
    </div>

    <div>
        <a href="">LOG IN</a>
        <a href="">LOG OUT</a>
    </div>


</nav>