<nav>
    <div>
        <a href="/index">HOME</a>
        <a href="/collection">2020 COLLECTIONS</a>
    </div>
    <div>
        {{#unless isAdmin}}
        <a href="/my-collection">MY BIKES</a>
        {{/unless}}
    </div>
    <div>
        {{#if isAdmin}}
        <a href="/my-collection">MY BIKES</a>
        <a href="/admin/dashboard">DASHBOARD</a>
        {{/if}}
    </div>
    <div>
        {{#unless isLoggedIn}}
        <a href="/auth/signin">LOG IN</a>
        <a href="/auth/signup">SIGN UP</a>
        {{/unless}}
    </div>
    <div>
        {{#if isLoggedIn}}
        <a href="/auth/signout">LOG OUT</a>
        {{/if}}
    </div>
</nav>