<nav>
    <div>
        <a href="/index">HOME</a>
    </div>
    <div>
        <a href="/collection">2020 COLLECTIONS</a>
    </div>
    <div>
        <a href="/auth/signin">LOG IN</a>
        <a href="/">LOG OUT</a>
    </div>
</nav>