<nav>
    <div>
        <a href="/index">HOME</a>
        <a href="/collection">2020 COLLECTIONS</a>
    </div>
    <div>
        <a href="/private">MY BIKES</a>
        <a href="/admin/dashboard">DASHBOARD</a>
    </div>
    <div>
        <a href="/auth/signin">LOG IN</a>
        <a href="/auth/signup">SIGN UP</a>
    </div>
</nav>