/* FORMS : CREATE AND EDIT  */
.create-container {
    background-image: url(./../images/createForm-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* position: relative; */
    display: flex;
}

.edit-container {
    background-image: url(./../images/editForm-customGarage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

.create-form {
    background-color: rgb(245, 37, 31);
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: min-content;
    margin-left: 3%;
    margin-top: 80px;
    padding: 10px;
}

.edit-form {
    /* border: 2px solid black; */
    background-color: rgb(245, 37, 31);
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px black;
    /* border-radius: 2%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: min-content;
    margin: auto;
    padding: 10px;
}

.edit-form h2 {
    margin: 0 auto;
}

.adminInputs {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 90%;
}

.adminInputs input {
    width: 90%;
    height: 5px;
    border: none;
    padding: 10px;
    text-align: center;
}

.adminInputs label {
    margin-top: 8px;
}

.select-biketype {
    width: 100%;
    height: 25px;
    text-align: center;
}

.adminForm-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.adminForm-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* .adminForm-left input {
    border-radius: 7%/50%;
} */

/* .adminForm-right input {
    border-radius: 3%/50%;
} */

.galleryInput {
    margin-bottom: 10px;
}

.create-btn {
    padding: 10px;
    width: 80px;
    /* border-radius: 15%/50%; */
    background-color: rgb(245, 37, 31);
    box-sizing: border-box;
    font-size: 1em;
    border: 3px solid white;
    color: white;
    margin-bottom: 25px;
}

.edit-btn {
    padding: 10px;
    width: 80px;
    /* border-radius: 15%/50%; */
    background-color: rgb(245, 37, 31);
    box-sizing: border-box;
    font-size: 1em;
    border: 3px solid white;
    color: white;
    margin-bottom: 25px;
}

.create-btn:hover, .edit-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    /* border: 3px solid black;
    color: black; */
}

/* ADMIN DASHBOARD */

.dashboard {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-createBtn {
    width: 100px;
    border: 2px solid black;
    /* border-radius: 10%/50%; */
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.admin-createBtn:hover {
    background-color: rgb(245, 37, 31);
    cursor: pointer;
}

.admin-createLink:hover button {
    color: white;
}

/* ADMIN TABLE */
.adminTable {
    border: 2px solid black;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.tableTitle {
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.tableTitle th {
    min-width: 110px;
    max-width: 205px;
    padding: 5px;
}

.admin-bikeRow:hover {
    background-color: rgb(245, 37, 31);
    cursor: pointer;
}