{{!-- {{!-- <h2>Watch all bikes that are coming in 2020!</h2> --}} --}}

<div id="bike-collection"></div>
{{#each bikes}}


<div class="bike-container">
    <div class="image-border">
        <div class="bike-image" style="background-image: url('{{this.image}}');">
        </div>
    </div>
    
    <div class="bike-infos">
        <div>
            <p class="name">{{this.brand}} {{this.name}}</p>
            <p class="engine">{{this.engine}}cc²</p>
            <p class="details"><a href="">See details ></a></p>
        </div>
    </div>
</div>

{{!-- <div id="blackborder"></div> --}}



{{/each}}
</div>