<div id="my-collection-div">
    {{#each bikes}}
        <div>
            <div class="my-bike-image" style="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1), rgba(10, 1, 8, 0.6)), url('{{this.image}}');">
            </div>
            <p class="my-bike-name">
                {{this.name}}
            </p>
        </div>
    {{/each}}
</div>