
<div class="backgroundSign">
        <form method="post" action="/auth/signup" class="form signup">
        
            <h2 class="title">Sign Up</h2>

            <label for="email">Email</label>
            <input class="input" name="email" type="text" value="">
            <label for="password">Password</label>
            <input class="input" name="password" type="password" value="">

            <button class="btn">Sign Up !</button>

        </form>
</div>
    <div class="borderDecalee"></div>